*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(211, 205, 205);
    color: rgb(0, 0, 0);
    height: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

}

h1, h2 ,h3 {
    color: rgb(233, 56, 56);
    margin-bottom: 10px;
    text-align: left;
  
}

.intro h2{
    text-align: center;
}
body p{
    text-indent: 1em;
}

h1{
    font-size: 1.8rem;
    text-align: center;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

a{
    color:  rgb(233, 56, 56);
}

.summary{
    line-height: 1.5;
    text-align: center;
}

abbr{
    font-family: small-caps;
}